.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Draggable Panels - Dra&amp;Drop box
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a Tables
      %li.active
        %strong Draggable Panels - Dra&amp;Drop box
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  #sortable-view.row
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Drag&amp;Drop
          .ibox-tools
            %label.label.label-primary You can drag and drop me to other box.
        .ibox-content
          %h2
            This is simple box container nr. 1
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
      .ibox
        .ibox-title
          %h5 Drag&amp;Drop
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %h2
            This is simple box container nr. 3
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Drag&amp;Drop
        .ibox-content
          %h2
            This is simple box container nr. 2
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
      .ibox
        .ibox-title
          %h5 Drag&amp;Drop
        .ibox-content
          %h2
            This is simple box container nr. 4
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
- content_for :javascript do
  :javascript
    $(function() {
    
        WinMove();
    
        // Dragable panels
        function WinMove() {
            var element = "[class*=col]";
            var handle = ".ibox-title";
            var connect = "[class*=col]";
            $(element).sortable(
                    {
                        handle: handle,
                        connectWith: connect,
                        tolerance: 'pointer',
                        forcePlaceholderSize: true,
                        opacity: 0.8
                    })
                    .disableSelection();
        };
    
    });
