.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Icons
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a UI Elements
      %li.active
        %strong Icons
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-3
      .ibox.float-e-margins
        %h2 Font Awesome 4.2.0
        Best collection of font icon. Gives scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the CSS styles.
    .col-lg-9
      .ibox.float-e-margins
        .ibox-title
          %h5
            All icons
            %small.m-l-sm
              All icons in collection -
              %a{:href => "http://fortawesome.github.io/Font-Awesome/icons/", :target => "_blank"} Font Awesome
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content.icons-box
          %div
            %h3 New Icons in 4.2.0
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-angellist
                fa-angellist
            .infont.col-md-3.col-sm-4
              %a{:href => "../icon/area-chart"}
                %i.fa.fa-area-chart
                fa-area-chart
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-at
                fa-at
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-bell-slash
                fa-bell-slash
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-bell-slash-o
                fa-bell-slash-o
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-bicycle
                fa-bicycle
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-binoculars
                fa-binoculars
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-birthday-cake
                fa-birthday-cake
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-bus
                fa-bus
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-calculator
                fa-calculator
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc
                fa-cc
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-amex
                fa-cc-amex
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-discover
                fa-cc-discover
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-mastercard
                fa-cc-mastercard
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-paypal
                fa-cc-paypal
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-stripe
                fa-cc-stripe
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-cc-visa
                fa-cc-visa
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-copyright
                fa-copyright
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-eyedropper
                fa-eyedropper
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-futbol-o
                fa-futbol-o
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-google-wallet
                fa-google-wallet
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-ils
                fa-ils
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-ioxhost
                fa-ioxhost
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-lastfm
                fa-lastfm
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-lastfm-square
                fa-lastfm-square
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-line-chart
                fa-line-chart
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-meanpath
                fa-meanpath
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-newspaper-o
                fa-newspaper-o
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-paint-brush
                fa-paint-brush
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-paypal
                fa-paypal
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-pie-chart
                fa-pie-chart
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-plug
                fa-plug
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-shekel
                fa-shekel
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-sheqel
                fa-sheqel
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-slideshare
                fa-slideshare
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-soccer-ball-o
                fa-soccer-ball-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-toggle-off
                fa-toggle-off
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-toggle-on
                fa-toggle-on
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-trash
                fa-trash
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-tty
                fa-tty
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-twitch
                fa-twitch
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-wifi
                fa-wifi
            .infont.col-md-3.col-sm-4
              %a{:href => ""}
                %i.fa.fa-yelp
                fa-yelp
            .clearfix
          %div
            %h3 New Icons in 4.1.0
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rub
                fa-rub
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ruble
                fa-ruble
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rouble
                fa-rouble
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pagelines
                fa-pagelines
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stack-exchange
                fa-stack-exchange
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-right
                fa-arrow-circle-o-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-left
                fa-arrow-circle-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-left
                fa-caret-square-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-left
                fa-toggle-left
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dot-circle-o
                fa-dot-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wheelchair
                fa-wheelchair
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-vimeo-square
                fa-vimeo-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-try
                fa-try
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-turkish-lira
                fa-turkish-lira
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square-o
                fa-plus-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-automobile
                fa-automobile
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bank
                fa-bank
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-behance
                fa-behance
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-behance-square
                fa-behance-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bomb
                fa-bomb
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-building
                fa-building
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cab
                fa-cab
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-car
                fa-car
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-child
                fa-child
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle-o-notch
                fa-circle-o-notch
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle-thin
                fa-circle-thin
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-codepen
                fa-codepen
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cube
                fa-cube
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cubes
                fa-cubes
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-database
                fa-database
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-delicious
                fa-delicious
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-deviantart
                fa-deviantart
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-digg
                fa-digg
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-drupal
                fa-drupal
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-empire
                fa-empire
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-envelope-square
                fa-envelope-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fax
                fa-fax
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-archive-o
                fa-file-archive-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-audio-o
                fa-file-audio-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-code-o
                fa-file-code-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-excel-o
                fa-file-excel-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-image-o
                fa-file-image-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-movie-o
                fa-file-movie-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-pdf-o
                fa-file-pdf-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-photo-o
                fa-file-photo-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-picture-o
                fa-file-picture-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-powerpoint-o
                fa-file-powerpoint-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-sound-o
                fa-file-sound-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-video-o
                fa-file-video-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-word-o
                fa-file-word-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-zip-o
                fa-file-zip-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ge
                fa-ge
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-git
                fa-git
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-git-square
                fa-git-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-google
                fa-google
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-graduation-cap
                fa-graduation-cap
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hacker-news
                fa-hacker-news
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-header
                fa-header
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-history
                fa-history
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-institution
                fa-institution
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-joomla
                fa-joomla
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-jsfiddle
                fa-jsfiddle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-language
                fa-language
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-life-bouy
                fa-life-bouy
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-life-ring
                fa-life-ring
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-life-saver
                fa-life-saver
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mortar-board
                fa-mortar-board
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-openid
                fa-openid
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paper-plane
                fa-paper-plane
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paper-plane-o
                fa-paper-plane-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paragraph
                fa-paragraph
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paw
                fa-paw
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pied-piper
                fa-pied-piper
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pied-piper-alt
                fa-pied-piper-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pied-piper-square
                fa-pied-piper-square
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-qq
                fa-qq
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ra
                fa-ra
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rebel
                fa-rebel
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-recycle
                fa-recycle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-reddit
                fa-reddit
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-reddit-square
                fa-reddit-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-send
                fa-send
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-send-o
                fa-send-o
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-share-alt
                fa-share-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-share-alt-square
                fa-share-alt-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-slack
                fa-slack
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sliders
                fa-sliders
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-soundcloud
                fa-soundcloud
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-space-shuttle
                fa-space-shuttle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-spoon
                fa-spoon
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-spotify
                fa-spotify
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-steam
                fa-steam
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-steam-square
                fa-steam-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stumbleupon
                fa-stumbleupon
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stumbleupon-circle
                fa-stumbleupon-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-support
                fa-support
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-taxi
                fa-taxi
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tencent-weibo
                fa-tencent-weibo
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tree
                fa-tree
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-university
                fa-university
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-vine
                fa-vine
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wechat
                fa-wechat
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-weixin
                fa-weixin
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wordpress
                fa-wordpress
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-yahoo
                fa-yahoo
            .clearfix
          %div
            %h3 Web Application Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-adjust
                fa-adjust
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-anchor
                fa-anchor
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-archive
                fa-archive
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows
                fa-arrows
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-h
                fa-arrows-h
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-v
                fa-arrows-v
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-asterisk
                fa-asterisk
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ban
                fa-ban
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bar-chart-o
                fa-bar-chart-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-barcode
                fa-barcode
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bars
                fa-bars
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-beer
                fa-beer
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bell
                fa-bell
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bell-o
                fa-bell-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bolt
                fa-bolt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-book
                fa-book
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bookmark
                fa-bookmark
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bookmark-o
                fa-bookmark-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-briefcase
                fa-briefcase
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bug
                fa-bug
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-building-o
                fa-building-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bullhorn
                fa-bullhorn
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bullseye
                fa-bullseye
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-calendar
                fa-calendar
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-calendar-o
                fa-calendar-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-camera
                fa-camera
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-camera-retro
                fa-camera-retro
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-down
                fa-caret-square-o-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-left
                fa-caret-square-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-right
                fa-caret-square-o-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-up
                fa-caret-square-o-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-certificate
                fa-certificate
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check
                fa-check
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-circle
                fa-check-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-circle-o
                fa-check-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-square
                fa-check-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-square-o
                fa-check-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle
                fa-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle-o
                fa-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-clock-o
                fa-clock-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cloud
                fa-cloud
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cloud-download
                fa-cloud-download
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cloud-upload
                fa-cloud-upload
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-code
                fa-code
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-code-fork
                fa-code-fork
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-coffee
                fa-coffee
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cog
                fa-cog
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cogs
                fa-cogs
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-comment
                fa-comment
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-comment-o
                fa-comment-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-comments
                fa-comments
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-comments-o
                fa-comments-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-compass
                fa-compass
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-credit-card
                fa-credit-card
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-crop
                fa-crop
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-crosshairs
                fa-crosshairs
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cutlery
                fa-cutlery
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dashboard
                fa-dashboard
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-desktop
                fa-desktop
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dot-circle-o
                fa-dot-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-download
                fa-download
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-edit
                fa-edit
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ellipsis-h
                fa-ellipsis-h
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ellipsis-v
                fa-ellipsis-v
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-envelope
                fa-envelope
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-envelope-o
                fa-envelope-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eraser
                fa-eraser
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-exchange
                fa-exchange
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-exclamation
                fa-exclamation
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-exclamation-circle
                fa-exclamation-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-exclamation-triangle
                fa-exclamation-triangle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-external-link
                fa-external-link
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-external-link-square
                fa-external-link-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eye
                fa-eye
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eye-slash
                fa-eye-slash
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-female
                fa-female
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fighter-jet
                fa-fighter-jet
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-film
                fa-film
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-filter
                fa-filter
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fire
                fa-fire
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fire-extinguisher
                fa-fire-extinguisher
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flag
                fa-flag
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flag-checkered
                fa-flag-checkered
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flag-o
                fa-flag-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flash
                fa-flash
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flask
                fa-flask
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-folder
                fa-folder
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-folder-o
                fa-folder-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-folder-open
                fa-folder-open
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-folder-open-o
                fa-folder-open-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-frown-o
                fa-frown-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gamepad
                fa-gamepad
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gavel
                fa-gavel
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gear
                fa-gear
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gears
                fa-gears
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gift
                fa-gift
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-glass
                fa-glass
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-globe
                fa-globe
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-group
                fa-group
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hdd-o
                fa-hdd-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-headphones
                fa-headphones
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-heart
                fa-heart
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-heart-o
                fa-heart-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-home
                fa-home
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-inbox
                fa-inbox
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-info
                fa-info
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-info-circle
                fa-info-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-key
                fa-key
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-keyboard-o
                fa-keyboard-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-laptop
                fa-laptop
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-leaf
                fa-leaf
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-legal
                fa-legal
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-lemon-o
                fa-lemon-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-level-down
                fa-level-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-level-up
                fa-level-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-lightbulb-o
                fa-lightbulb-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-location-arrow
                fa-location-arrow
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-lock
                fa-lock
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-magic
                fa-magic
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-magnet
                fa-magnet
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mail-forward
                fa-mail-forward
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mail-reply
                fa-mail-reply
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mail-reply-all
                fa-mail-reply-all
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-male
                fa-male
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-map-marker
                fa-map-marker
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-meh-o
                fa-meh-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-microphone
                fa-microphone
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-microphone-slash
                fa-microphone-slash
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus
                fa-minus
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus-circle
                fa-minus-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus-square
                fa-minus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus-square-o
                fa-minus-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mobile
                fa-mobile
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-mobile-phone
                fa-mobile-phone
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-money
                fa-money
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-moon-o
                fa-moon-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-music
                fa-music
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pencil
                fa-pencil
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pencil-square
                fa-pencil-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pencil-square-o
                fa-pencil-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-phone
                fa-phone
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-phone-square
                fa-phone-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-picture-o
                fa-picture-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plane
                fa-plane
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus
                fa-plus
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-circle
                fa-plus-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square
                fa-plus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square-o
                fa-plus-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-power-off
                fa-power-off
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-print
                fa-print
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-puzzle-piece
                fa-puzzle-piece
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-qrcode
                fa-qrcode
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-question
                fa-question
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-question-circle
                fa-question-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-quote-left
                fa-quote-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-quote-right
                fa-quote-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-random
                fa-random
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-refresh
                fa-refresh
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-reply
                fa-reply
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-reply-all
                fa-reply-all
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-retweet
                fa-retweet
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-road
                fa-road
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rocket
                fa-rocket
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rss
                fa-rss
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rss-square
                fa-rss-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-search
                fa-search
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-search-minus
                fa-search-minus
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-search-plus
                fa-search-plus
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-share
                fa-share
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-share-square
                fa-share-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-share-square-o
                fa-share-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-shield
                fa-shield
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-shopping-cart
                fa-shopping-cart
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sign-in
                fa-sign-in
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sign-out
                fa-sign-out
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-signal
                fa-signal
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sitemap
                fa-sitemap
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-smile-o
                fa-smile-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort
                fa-sort
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-alpha-asc
                fa-sort-alpha-asc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-alpha-desc
                fa-sort-alpha-desc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-amount-asc
                fa-sort-amount-asc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-amount-desc
                fa-sort-amount-desc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-asc
                fa-sort-asc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-desc
                fa-sort-desc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-down
                fa-sort-down
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-numeric-asc
                fa-sort-numeric-asc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-numeric-desc
                fa-sort-numeric-desc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sort-up
                fa-sort-up
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-spinner
                fa-spinner
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-square
                fa-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-square-o
                fa-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star
                fa-star
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star-half
                fa-star-half
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star-half-empty
                fa-star-half-empty
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star-half-full
                fa-star-half-full
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star-half-o
                fa-star-half-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-star-o
                fa-star-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-subscript
                fa-subscript
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-suitcase
                fa-suitcase
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-sun-o
                fa-sun-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-superscript
                fa-superscript
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tablet
                fa-tablet
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tachometer
                fa-tachometer
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tag
                fa-tag
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tags
                fa-tags
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tasks
                fa-tasks
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-terminal
                fa-terminal
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-thumb-tack
                fa-thumb-tack
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-thumbs-down
                fa-thumbs-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-thumbs-o-down
                fa-thumbs-o-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-thumbs-o-up
                fa-thumbs-o-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-thumbs-up
                fa-thumbs-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ticket
                fa-ticket
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-times
                fa-times
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-times-circle
                fa-times-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-times-circle-o
                fa-times-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tint
                fa-tint
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-down
                fa-toggle-down
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-left
                fa-toggle-left
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-right
                fa-toggle-right
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-up
                fa-toggle-up
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-trash-o
                fa-trash-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-trophy
                fa-trophy
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-truck
                fa-truck
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-umbrella
                fa-umbrella
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-unlock
                fa-unlock
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-unlock-alt
                fa-unlock-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-unsorted
                fa-unsorted
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-upload
                fa-upload
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-user
                fa-user
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-users
                fa-users
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-video-camera
                fa-video-camera
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-volume-down
                fa-volume-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-volume-off
                fa-volume-off
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-volume-up
                fa-volume-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-warning
                fa-warning
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wheelchair
                fa-wheelchair
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wrench
                fa-wrench
            .clearfix
          %div
            %h3 Form Control Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-square
                fa-check-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-check-square-o
                fa-check-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle
                fa-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-circle-o
                fa-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dot-circle-o
                fa-dot-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus-square
                fa-minus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-minus-square-o
                fa-minus-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square
                fa-plus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square-o
                fa-plus-square-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-square
                fa-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-square-o
                fa-square-o
            .clearfix
          %div
            %h3 Currency Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bitcoin
                fa-bitcoin
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-btc
                fa-btc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cny
                fa-cny
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dollar
                fa-dollar
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eur
                fa-eur
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-euro
                fa-euro
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gbp
                fa-gbp
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-inr
                fa-inr
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-jpy
                fa-jpy
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-krw
                fa-krw
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-money
                fa-money
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rmb
                fa-rmb
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rouble
                fa-rouble
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rub
                fa-rub
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ruble
                fa-ruble
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rupee
                fa-rupee
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-try
                fa-try
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-turkish-lira
                fa-turkish-lira
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-usd
                fa-usd
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-won
                fa-won
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-yen
                fa-yen
                %span.text-muted (alias)
            .clearfix
          %div
            %h3 Text Editor Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-align-center
                fa-align-center
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-align-justify
                fa-align-justify
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-align-left
                fa-align-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-align-right
                fa-align-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bold
                fa-bold
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chain
                fa-chain
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chain-broken
                fa-chain-broken
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-clipboard
                fa-clipboard
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-columns
                fa-columns
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-copy
                fa-copy
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-cut
                fa-cut
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dedent
                fa-dedent
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eraser
                fa-eraser
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file
                fa-file
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-o
                fa-file-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-text
                fa-file-text
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-file-text-o
                fa-file-text-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-files-o
                fa-files-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-floppy-o
                fa-floppy-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-font
                fa-font
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-indent
                fa-indent
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-italic
                fa-italic
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-link
                fa-link
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-list
                fa-list
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-list-alt
                fa-list-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-list-ol
                fa-list-ol
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-list-ul
                fa-list-ul
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-outdent
                fa-outdent
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paperclip
                fa-paperclip
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-paste
                fa-paste
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-repeat
                fa-repeat
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rotate-left
                fa-rotate-left
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-rotate-right
                fa-rotate-right
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-save
                fa-save
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-scissors
                fa-scissors
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-strikethrough
                fa-strikethrough
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-table
                fa-table
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-text-height
                fa-text-height
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-text-width
                fa-text-width
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-th
                fa-th
            .infont.col-md-3.col-sm-4
              %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"}
                %i.fa.fa-th-large
                fa-th-large
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-th-list
                fa-th-list
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-underline
                fa-underline
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-undo
                fa-undo
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-unlink
                fa-unlink
                %span.text-muted (alias)
            .clearfix
          %div
            %h3 Directional Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-double-down
                fa-angle-double-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-double-left
                fa-angle-double-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-double-right
                fa-angle-double-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-double-up
                fa-angle-double-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-down
                fa-angle-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-left
                fa-angle-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-right
                fa-angle-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-angle-up
                fa-angle-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-down
                fa-arrow-circle-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-left
                fa-arrow-circle-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-down
                fa-arrow-circle-o-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-left
                fa-arrow-circle-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-right
                fa-arrow-circle-o-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-o-up
                fa-arrow-circle-o-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-right
                fa-arrow-circle-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-circle-up
                fa-arrow-circle-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-down
                fa-arrow-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-left
                fa-arrow-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-right
                fa-arrow-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrow-up
                fa-arrow-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows
                fa-arrows
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-alt
                fa-arrows-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-h
                fa-arrows-h
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-v
                fa-arrows-v
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-down
                fa-caret-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-left
                fa-caret-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-right
                fa-caret-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-down
                fa-caret-square-o-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-left
                fa-caret-square-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-right
                fa-caret-square-o-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-square-o-up
                fa-caret-square-o-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-caret-up
                fa-caret-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-circle-down
                fa-chevron-circle-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-circle-left
                fa-chevron-circle-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-circle-right
                fa-chevron-circle-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-circle-up
                fa-chevron-circle-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-down
                fa-chevron-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-left
                fa-chevron-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-right
                fa-chevron-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-chevron-up
                fa-chevron-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hand-o-down
                fa-hand-o-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hand-o-left
                fa-hand-o-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hand-o-right
                fa-hand-o-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hand-o-up
                fa-hand-o-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-long-arrow-down
                fa-long-arrow-down
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-long-arrow-left
                fa-long-arrow-left
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-long-arrow-right
                fa-long-arrow-right
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-long-arrow-up
                fa-long-arrow-up
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-down
                fa-toggle-down
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-left
                fa-toggle-left
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-right
                fa-toggle-right
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-toggle-up
                fa-toggle-up
                %span.text-muted (alias)
            .clearfix
          %div
            %h3 Video Player Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-arrows-alt
                fa-arrows-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-backward
                fa-backward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-compress
                fa-compress
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-eject
                fa-eject
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-expand
                fa-expand
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fast-backward
                fa-fast-backward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-fast-forward
                fa-fast-forward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-forward
                fa-forward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pause
                fa-pause
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-play
                fa-play
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-play-circle
                fa-play-circle
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-play-circle-o
                fa-play-circle-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-step-backward
                fa-step-backward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-step-forward
                fa-step-forward
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stop
                fa-stop
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-youtube-play
                fa-youtube-play
            .clearfix
          %div
            %h3 Brand Icons
            .alert.alert-success
              %ul.margin-bottom-none.padding-left-lg
                %li All brand icons are trademarks of their respective owners.
                %li The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-adn
                fa-adn
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-android
                fa-android
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-apple
                fa-apple
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bitbucket
                fa-bitbucket
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bitbucket-square
                fa-bitbucket-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-bitcoin
                fa-bitcoin
                %span.text-muted (alias)
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-btc
                fa-btc
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-css3
                fa-css3
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dribbble
                fa-dribbble
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-dropbox
                fa-dropbox
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-facebook
                fa-facebook
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-facebook-square
                fa-facebook-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-flickr
                fa-flickr
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-foursquare
                fa-foursquare
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-github
                fa-github
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-github-alt
                fa-github-alt
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-github-square
                fa-github-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-gittip
                fa-gittip
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-google-plus
                fa-google-plus
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-google-plus-square
                fa-google-plus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-html5
                fa-html5
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-instagram
                fa-instagram
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-linkedin
                fa-linkedin
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-linkedin-square
                fa-linkedin-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-linux
                fa-linux
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-maxcdn
                fa-maxcdn
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pagelines
                fa-pagelines
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pinterest
                fa-pinterest
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-pinterest-square
                fa-pinterest-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-renren
                fa-renren
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-skype
                fa-skype
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stack-exchange
                fa-stack-exchange
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stack-overflow
                fa-stack-overflow
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-trello
                fa-trello
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tumblr
                fa-tumblr
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-tumblr-square
                fa-tumblr-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-twitter
                fa-twitter
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-twitter-square
                fa-twitter-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-vimeo-square
                fa-vimeo-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-vk
                fa-vk
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-weibo
                fa-weibo
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-windows
                fa-windows
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-xing
                fa-xing
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-xing-square
                fa-xing-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-youtube
                fa-youtube
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-youtube-play
                fa-youtube-play
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-youtube-square
                fa-youtube-square
            .clearfix
          %div
            %h3 Medical Icons
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-ambulance
                fa-ambulance
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-h-square
                fa-h-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-hospital-o
                fa-hospital-o
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-medkit
                fa-medkit
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-plus-square
                fa-plus-square
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-stethoscope
                fa-stethoscope
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-user-md
                fa-user-md
            .infont.col-md-3.col-sm-4
              %a{:href => "#"}
                %i.fa.fa-wheelchair
                fa-wheelchair
            .clearfix
