.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Draggable Panels - Dra&amp;Drop box
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a Tables
      %li.active
        %strong Draggable Panels - Dra&amp;Drop box
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .resizable-panels
        .ibox
          .ibox-title
            %h5
              Resizable
            .ibox-tools
              %label.label.label-primary Resize me!
          .ibox-content
            %h2
              This is simple box container nr. 1
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged.
        .ibox
          .ibox-title
            %h5
              Resizable
          .ibox-content
            %h2
              This is simple box container nr. 2
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged.
        .ibox
          .ibox-title
            %h5
              Resizable
          .ibox-content
            %h2
              This is simple box container nr. 3
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged.
        .ibox
          .ibox-title
            %h5
              Resizable
          .ibox-content
            %h2
              This is simple box container nr. 4
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged.
- content_for :javascript do
  :javascript
    $(function() {
    
        $(".ibox").resizable({
            helper: "ui-resizable-helper",
            grid: 20
        });
    
    });
