.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Tabs
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a UI Elements
      %li.active
        %strong Tabs
.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-6
      .tabs-container
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-1"} This is tab
          %li
            %a{"data-toggle" => "tab", :href => "#tab-2"} This is second tab
        .tab-content
          #tab-1.tab-pane.active
            .panel-body
              %strong Lorem ipsum dolor sit amet, consectetuer adipiscing
              %p
                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                existence in this spot, which was created for the bliss of souls like mine.
              %p
                I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                the present moment; and yet I feel that I never was a greater artist than now. When.
          #tab-2.tab-pane
            .panel-body
              %strong Donec quam felis
              %p
                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
              %p
                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
    .col-lg-6
      .tabs-container
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-3"}
              %i.fa.fa-laptop
          %li
            %a{"data-toggle" => "tab", :href => "#tab-4"}
              %i.fa.fa-desktop
          %li
            %a{"data-toggle" => "tab", :href => "#tab-5"}
              %i.fa.fa-database
        .tab-content
          #tab-3.tab-pane.active
            .panel-body
              %strong Lorem ipsum dolor sit amet, consectetuer adipiscing
              %p
                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                existence in this spot, which was created for the bliss of souls like mine.
              %p
                I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                the present moment; and yet I feel that I never was a greater artist than now. When.
          #tab-4.tab-pane
            .panel-body
              %strong Donec quam felis
              %p
                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
              %p
                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
          #tab-5.tab-pane
            .panel-body
              %strong Donec quam felis
              %p
                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
              %p
                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
  .row.m-t-lg
    .col-lg-6
      .tabs-container
        .tabs-left
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab-6"} This is tab
            %li
              %a{"data-toggle" => "tab", :href => "#tab-7"} This is second tab
          .tab-content
            #tab-6.tab-pane.active
              .panel-body
                %strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                %p
                  A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                  existence in this spot, which was created for the bliss of souls like mine.
                %p
                  I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                  the present moment; and yet I feel that I never was a greater artist than now. When.
            #tab-7.tab-pane
              .panel-body
                %strong Donec quam felis
                %p
                  Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                  and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                %p
                  I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
    .col-lg-6
      .tabs-container
        .tabs-right
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab-8"} This is tab
            %li
              %a{"data-toggle" => "tab", :href => "#tab-9"} This is second tab
          .tab-content
            #tab-8.tab-pane.active
              .panel-body
                %strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                %p
                  A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                  existence in this spot, which was created for the bliss of souls like mine.
                %p
                  I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                  the present moment; and yet I feel that I never was a greater artist than now. When.
            #tab-9.tab-pane
              .panel-body
                %strong Donec quam felis
                %p
                  Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                  and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                %p
                  I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
  .row.m-t-lg
    .col-lg-12
      .tabs-container
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-10"}
              This is tab
              %span.label.label-warning NEW
        .tab-content
          #tab-10.tab-pane.active
            .panel-body
              %strong Lorem ipsum dolor sit amet, consectetuer adipiscing
              %p
                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                existence in this spot, which was created for the bliss of souls like mine.
              %p
                I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                the present moment; and yet I feel that I never was a greater artist than now. When.
