.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Typography
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a UI Elements
      %li.active
        %strong Typography
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Headings
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %h1
            Heading 1
            %small Sub-heading
          %h2
            Heading 2
            %small Sub-heading
          %h3
            Heading 3
            %small Sub-heading
          %h4
            Heading 4
            %small Sub-heading
          %h5
            Heading 5
            %small Sub-heading
          %h6
            Heading 6
            %small Sub-heading
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Paragraph text
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %p
            Lorem ipsum
            %strong eget urna mollis
            ornare vel eu leo.
            %em Cum sociisnatoque penatibus
            et magnis dis parturient montes,
            %code code
            nascetur
            ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet sapien consequat tincidunt.
          %p
            Vivamus sagittis lacus vel augue laoreet
            = succeed "." do
              %abbr{"data-original-title" => "Sample abbreviation", :title => ""} rutrum faucibus dolor auctor
          %p
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual.
  .row
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Unstyled list
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %ul.unstyled
            %li But I must explain
            %li To you how all this mistaken
            %li Idea of denouncing pleasure
            %li Great explorer of the truth
            %li
              To take a trivial example
              %ul
                %li Or one who avoids a pain
                %li Indignation and dislike men
                %li Nor again is there anyone
                %li But who has any right
            %li That they cannot foresee
            %li Who avoids a pain that produceg
            %li Consequences that are extremely
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Unordered list
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %ul
            %li But I must explain
            %li To you how all this mistaken
            %li Idea of denouncing pleasure
            %li Great explorer of the truth
            %li
              To take a trivial example
              %ul
                %li Or one who avoids a pain
                %li Indignation and dislike men
                %li Nor again is there anyone
                %li But who has any right
            %li That they cannot foresee
            %li Who avoids a pain that produceg
            %li Consequences that are extremely
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Ordered list
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %ol
            %li But I must explain
            %li To you how all this mistaken
            %li Idea of denouncing pleasure
            %li Great explorer of the truth
            %li
              To take a trivial example
              %ol
                %li Or one who avoids a pain
                %li Indignation and dislike men
                %li Nor again is there anyone
                %li But who has any right
            %li That they cannot foresee
            %li Who avoids a pain that produceg
            %li Consequences that are extremely
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Emphasis Classes
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %p.text-muted This is an example of muted text.
          %p.text-primary This is an example of primary text.
          %p.text-success This is an example of success text.
          %p.text-info This is an example of info text.
          %p.text-warning This is an example of warning text.
          %p.text-danger This is an example of danger text.
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Blockquotes
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %blockquote
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            %small
              %strong Author name
              in
              %cite{"data-original-title" => "", :title => ""} Book name
  .row
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Alignment
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %p.text-left Left aligned text.
          %p.text-center Center aligned text.
          %p.text-right Right aligned text.
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Address
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          %address
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
          %address
            %strong Full Name
            %br/
            %a{:href => "mailto:#"} first.last@example.com
    .col-lg-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Grouped Lists
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content.no-padding
          %ul.list-group
            %li.list-group-item
              %span.badge.badge-primary 16
              But I must explain to
            %li.list-group-item
              %span.badge.badge-info 12
              How all this mistaken
            %li.list-group-item
              %span.badge.badge-danger 10
              But because occasionally
            %li.list-group-item
              %span.badge.badge-success 10
              But who has any right
            %li.list-group-item
              %span.badge.badge-warning 7
              On the other hand
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Grouped Lists
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          .list-group
            %a.list-group-item.active{:href => "#"}
              %h3.list-group-item-heading A wonderful serenity has taken
              %p.list-group-item-text I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
            %a.list-group-item{:href => "#"}
              %h3.list-group-item-heading Why painful the sixteen how minuter
              %p.list-group-item-text I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
            %a.list-group-item{:href => "#"}
              %h3.list-group-item-heading Barton waited twenty always repair
              %p.list-group-item-text I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h5 Wells
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          .well
            %h3
              The quick, brown fox jumps over a lazy dog.
            I feel the presence of the Almighty, who formed us in his own image, and the breath
          .well.well-lg
            %h3
              Quick zephyrs blow, vexing daft Jim.
            I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees
          .well.well-sm
            %h3
              Joaquin Phoenix was gazed by MTV for luck
            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
