.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5.m-b-md Server status Q12
          %h2.text-navy
            %i.fa.fa-play.fa-rotate-270
            Up
          %small Last down 42 days ago
    .col-lg-3
      .ibox
        .ibox-content
          %h5.m-b-md Server status Q13
          %h2.text-navy
            %i.fa.fa-play.fa-rotate-270
            Up
          %small Last down 42 days ago
    .col-lg-3
      .ibox
        .ibox-content
          %h5.m-b-md Server status Q42
          %h2.text-danger
            %i.fa.fa-play.fa-rotate-90
            Down
          %small Server down since 4 days
    .col-lg-3
      .ibox
        .ibox-content
          %h5.m-b-md Server status Q43
          %h2.text-danger
            %i.fa.fa-play.fa-rotate-90
            Down
          %small Server down since 4:32 pm.
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Visits in last 24h
          %h2 198 009
          #sparkline1
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Visits week
          %h2 65 000
          #sparkline2
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Last month
          %h2 680 900
          #sparkline3
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Avarage time
          %h2 00:06:40
          #sparkline4
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Usage
          %h2 65%
          .progress.progress-mini
            .progress-bar{:style => "width: 68%;"}
          .m-t-sm.small Server down since 4:32 pm.
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Usage
          %h2 50%
          .progress.progress-mini
            .progress-bar{:style => "width: 78%;"}
          .m-t-sm.small Server down since 4:32 pm.
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Usage
          %h2 14%
          .progress.progress-mini
            .progress-bar.progress-bar-danger{:style => "width: 38%;"}
          .m-t-sm.small Server down since 4:32 pm.
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Usage
          %h2 20%
          .progress.progress-mini
            .progress-bar.progress-bar-danger{:style => "width: 28%;"}
          .m-t-sm.small Server down since 4:32 pm.
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Percentage distribution
          %h2 42/20
          .text-center
            #sparkline5
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Percentage division
          %h2 100/54
          .text-center
            #sparkline6
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Percentage distribution
          %h2 685/211
          .text-center
            #sparkline7
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Percentage division
          %h2 240/32
          .text-center
            #sparkline8
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Income
          %h1.no-margins 886,200
          .stat-percent.font-bold.text-navy
            98%
            %i.fa.fa-bolt
          %small Total income
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Income last month
          %h1.no-margins 1 738,200
          .stat-percent.font-bold.text-navy
            98%
            %i.fa.fa-bolt
          %small Total income
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Income last day
          %h1.no-margins -200,100
          .stat-percent.font-bold.text-danger
            12%
            %i.fa.fa-level-down
          %small Total income
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Income all
          %h1.no-margins 54,200
          .stat-percent.font-bold.text-danger
            24%
            %i.fa.fa-level-down
          %small Total income
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h5 All new alerts
          %table.table.table-stripped.small.m-t-md
            %tbody
              %tr
                %td.no-borders
                  %i.fa.fa-circle.text-navy
                %td.no-borders
                  Example element 1
              %tr
                %td
                  %i.fa.fa-circle.text-navy
                %td
                  Example element 2
              %tr
                %td
                  %i.fa.fa-circle.text-navy
                %td
                  Example element 3
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Alerts
          %table.table.table-stripped.small.m-t-md
            %tbody
              %tr
                %td.no-borders
                  %i.fa.fa-circle.text-navy
                %td.no-borders
                  Example element 1
              %tr
                %td
                  %i.fa.fa-circle.text-navy
                %td
                  Example element 2
              %tr
                %td
                  %i.fa.fa-circle.text-navy
                %td
                  Example element 3
    .col-lg-3
      .ibox
        .ibox-content
          %h5 All messages
          %table.table.table-stripped.small.m-t-md
            %tbody
              %tr
                %td.no-borders
                  %i.fa.fa-circle.text-danger
                %td.no-borders
                  Example element 1
              %tr
                %td
                  %i.fa.fa-circle.text-danger
                %td
                  Example element 2
              %tr
                %td
                  %i.fa.fa-circle.text-danger
                %td
                  Example element 3
    .col-lg-3
      .ibox
        .ibox-content
          %h5 Last notification
          %table.table.table-stripped.small.m-t-md
            %tbody
              %tr
                %td.no-borders
                  %i.fa.fa-circle.text-danger
                %td.no-borders
                  Example element 1
              %tr
                %td
                  %i.fa.fa-circle.text-danger
                %td
                  Example element 2
              %tr
                %td
                  %i.fa.fa-circle.text-danger
                %td
                  Example element 3
- content_for :javascript do
  :javascript
    $(function() {
    
    
        $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#1ab394',
            fillColor: "#ffffff"
        });
    
        $("#sparkline2").sparkline([24, 43, 43, 55, 44, 62, 44, 72], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#1ab394',
            fillColor: "#ffffff"
        });
    
        $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#ed5565',
            fillColor: "#ffffff"
        });
    
        $("#sparkline4").sparkline([24, 43, 33, 55, 64, 72, 44, 22], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#ed5565',
            fillColor: "#ffffff"
        });
    
        $("#sparkline5").sparkline([1, 4], {
            type: 'pie',
            height: '140',
            sliceColors: ['#1ab394', '#F5F5F5']
        });
    
        $("#sparkline6").sparkline([5, 3], {
            type: 'pie',
            height: '140',
            sliceColors: ['#1ab394', '#F5F5F5']
        });
    
        $("#sparkline7").sparkline([2, 2], {
            type: 'pie',
            height: '140',
            sliceColors: ['#ed5565', '#F5F5F5']
        });
    
        $("#sparkline8").sparkline([2, 3], {
            type: 'pie',
            height: '140',
            sliceColors: ['#ed5565', '#F5F5F5']
        });
    
    });
