.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Issue list
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a App views
      %li.active
        %strong Issue list
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Issue list
          .ibox-tools
            %a.btn.btn-primary.btn-xs{:href => ""} Add new issue
        .ibox-content
          .m-b-lg
            .input-group
              %input.form-control{:placeholder => "Search issue by name...", :type => "text"}/
              %span.input-group-btn
                %button.btn.btn-white{:type => "button"} Search
            .m-t-md
              .pull-right
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-comments
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-user
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-list
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-pencil
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-print
                %button.btn.btn-sm.btn-white{:type => "button"}
                  %i.fa.fa-cogs
              %strong Found 61 issues.
          .table-responsive
            %table.table.table-hover.issue-tracker
              %tbody
                %tr
                  %td
                    %span.label.label-primary Added
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-23
                    %small
                      This is issue with the coresponding note
                  %td
                    Adrian Novak
                  %td
                    12.02.2015 10:00 am
                  %td
                    %span.pie 0.52,1.041
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Rag
                %tr
                  %td
                    %span.label.label-primary Added
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-17
                    %small
                      Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                  %td
                    Anna Smith
                  %td
                    10.02.2015 05:32 am
                  %td
                    %span.pie 3,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Rag
                %tr
                  %td
                    %span.label.label-primary Added
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-12
                    %small
                      It is a long established fact that a reader will be
                  %td
                    Anthony Jackson
                  %td
                    02.03.2015 06:02 am
                  %td
                    %span.pie 1,2
                    1d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                %tr
                  %td
                    %span.label.label-primary Added
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-11
                    %small
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  %td
                    Monica Proven
                  %td
                    01.10.2015 11:02 pm
                  %td
                    %span.pie 4,2
                    3d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Rag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-07
                    %small
                      Always free from repetition, injected humour, or non-characteristic words etc.
                  %td
                    Alex Ferguson
                  %td
                    28.11.2015 05:10 pm
                  %td
                    %span.pie 1,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-07
                    %small
                      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                  %td
                    Mark Conor
                  %td
                    18.09.2015 06:20 pm
                  %td
                    %span.pie 3,2
                    3d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-06
                    %small
                      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                  %td
                    Carol Jackson
                  %td
                    11.03.2015 07:30 pm
                  %td
                    %span.pie 3,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-05
                    %small
                      Content here, content here', making it look like readable English. Many desktop
                  %td
                    Carol Jackson
                  %td
                    05.04.2015 08:40 pm
                  %td
                    %span.pie 3,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-04
                    %small
                      Virginia, looked up one of the more obscure Latin words, consectetur
                  %td
                    Monica Smith
                  %td
                    10.06.2014 08:10 pm
                  %td
                    %span.pie 5,7
                    4d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Cag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-warning Fixed
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-03
                    %small
                      Injected humour, or randomised words which don't l
                  %td
                    Anna Johnson
                  %td
                    13.05.2014 09:20 pm
                  %td
                    %span.pie 2,7
                    3d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Cag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-44
                    %small
                      This is issue with the coresponding note
                  %td
                    Adrian Novak
                  %td
                    12.02.2015 10:00 am
                  %td
                    %span.pie 0.52,1.041
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Rag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-41
                    %small
                      Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                  %td
                    Anna Smith
                  %td
                    10.02.2015 05:32 am
                  %td
                    %span.pie 3,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Rag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-34
                    %small
                      It is a long established fact that a reader will be
                  %td
                    Anthony Jackson
                  %td
                    02.03.2015 06:02 am
                  %td
                    %span.pie 1,2
                    1d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-46
                    %small
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  %td
                    Monica Proven
                  %td
                    01.10.2015 11:02 pm
                  %td
                    %span.pie 4,2
                    3d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Rag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-51
                    %small
                      Always free from repetition, injected humour, or non-characteristic words etc.
                  %td
                    Alex Ferguson
                  %td
                    28.11.2015 05:10 pm
                  %td
                    %span.pie 1,2
                    2d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Dag
                %tr
                  %td
                    %span.label.label-danger Bug
                  %td.issue-info
                    %a{:href => "#"}
                      ISSUE-52
                    %small
                      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                  %td
                    Mark Conor
                  %td
                    18.09.2015 06:20 pm
                  %td
                    %span.pie 3,2
                    3d
                  %td.text-right
                    %button.btn.btn-white.btn-xs Tag
                    %button.btn.btn-white.btn-xs Mag
                    %button.btn.btn-white.btn-xs Dag
- content_for :javascript do
  :javascript
    $(function() {

        $("span.pie").peity("pie", {
            fill: ['#1ab394', '#d7d7d7', '#ffffff']
        })

    });
