.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Outlook view
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a Layouts
      %li.active
        %strong Outlook view
  .col-lg-2
.fh-breadcrumb
  .fh-column
    .full-height-scroll
      %ul.list-group.elements-list
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-1"}
            %small.pull-right.text-muted 16.02.2015
            %strong Ann Smith
            .small.m-t-xs
              %p
                Survived not only five centuries, but also the leap scrambled it to make.
              %p.m-b-none
                %i.fa.fa-map-marker
                Riviera State 32/106
        %li.list-group-item.active
          %a{"data-toggle" => "tab", :href => "#tab-2"}
            %small.pull-right.text-muted 11.10.2015
            %strong Paul Morgan
            .small.m-t-xs
              %p.m-b-xs
                There are many variations of passages of Lorem Ipsum.
                %br/
              %p.m-b-none
                %span.label.pull-right.label-primary SPECIAL
                %i.fa.fa-map-marker
                California 10F/32
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-3"}
            %small.pull-right.text-muted 08.04.2015
            %strong Michael Jackson
            .small.m-t-xs
              %p.m-b-xs
                Look even slightly believable. If you are going to use a passage of.
              %p.m-b-none
                %i.fa.fa-map-marker
                Berlin 120R/15
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-4"}
            %small.pull-right.text-muted 16.02.2015
            %strong Mark Smith
            .small.m-t-xs
              %p.m-b-xs
                It was popularised in the 1960s with the release of Letraset sheets
              %p.m-b-none
                %i.fa.fa-map-marker
                San Francisko 12/100
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-1"}
            %small.pull-right.text-muted 21.04.2015
            %strong Monica Novak
            .small.m-t-xs
              %p.m-b-xs
                Printer took a galley of type and scrambled.
              %p.m-b-none
                %i.fa.fa-map-marker
                New York 15/43
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-2"}
            %small.pull-right.text-muted 03.12.2015
            %strong Jack Smith
            .small.m-t-xs
              %p.m-b-xs
                Also the leap into electronic typesetting, remaining.
              %p.m-b-none
                %i.fa.fa-map-marker
                Sant Fe 10/106
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-3"}
            %small.pull-right.text-muted 08.04.2015
            %strong Michael Jackson
            .small.m-t-xs
              %p.m-b-xs
                Look even slightly believable. If you are going to use a passage of.
              %p.m-b-none
                %i.fa.fa-map-marker
                Berlin 120R/15
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-4"}
            %small.pull-right.text-muted 16.02.2015
            %strong Mark Smith
            .small.m-t-xs
              %p.m-b-xs
                It was popularised in the 1960s with the release of Letraset sheets
              %p.m-b-none
                %i.fa.fa-map-marker
                San Francisko 12/100
        %li.list-group-item
          %a{"data-toggle" => "tab", :href => "#tab-1"}
            %small.pull-right.text-muted 21.04.2015
            %strong Monica Novak
            .small.m-t-xs
              %p.m-b-xs
                Printer took a galley of type and scrambled.
              %p.m-b-none
                %i.fa.fa-map-marker
                New York 15/43
  .full-height
    .full-height-scroll.white-bg.border-left
      .element-detail-box
        .tab-content
          #tab-1.tab-pane
            .pull-right
              .tooltip-demo
                %button.btn.btn-white.btn-xs{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Plug this message"}
                  %i.fa.fa-plug
                  Plug it
                %button.btn.btn-white.btn-xs{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-eye
                %button.btn.btn-white.btn-xs{"data-original-title" => "Mark as important", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-exclamation
                %button.btn.btn-white.btn-xs{"data-original-title" => "Move to trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-trash-o
            .small.text-muted
              %i.fa.fa-clock-o
              Friday, 12 April 2014, 12:32 am
            %h1
              Their separate existence is a myth
            %p
              The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
            %p
              The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              The new common language will be more simple and regular than the existing European languages. It will be as simpl.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p
              The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p.small
              %strong Best regards, Anthony Smith
            .m-t-lg
              %p
                %span
                  %i.fa.fa-paperclip
                  2 attachments -
                %a{:href => "#"} Download all
                |
                %a{:href => "#"} View all images
              .attachment
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-file
                      .file-name
                        Document_2014.doc
                        %br/
                        %small Added: Jan 11, 2014
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-line-chart
                      .file-name
                        Seels_2015.xls
                        %br/
                        %small Added: May 13, 2015
                .clearfix
          #tab-2.tab-pane.active
            .pull-right
              .tooltip-demo
                %button.btn.btn-white.btn-xs{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Plug this message"}
                  %i.fa.fa-plug
                  Plug it
                %button.btn.btn-white.btn-xs{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-eye
                %button.btn.btn-white.btn-xs{"data-original-title" => "Mark as important", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-exclamation
                %button.btn.btn-white.btn-xs{"data-original-title" => "Move to trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-trash-o
            .small.text-muted
              %i.fa.fa-clock-o
              Monday, 21 May 2014, 10:32 am
            %h1
              The European languages - same family.
            %p
              One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
            %p
              The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p
              The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p.small
              %strong Best regards, Anthony Smith
            .m-t-lg
              %p
                %span
                  %i.fa.fa-paperclip
                  2 attachments -
                %a{:href => "#"} Download all
                |
                %a{:href => "#"} View all images
              .attachment
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-file
                      .file-name
                        Document_2014.doc
                        %br/
                        %small Added: Jan 11, 2014
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-line-chart
                      .file-name
                        Seels_2015.xls
                        %br/
                        %small Added: May 13, 2015
                .clearfix
          #tab-3.tab-pane
            .pull-right
              .tooltip-demo
                %button.btn.btn-white.btn-xs{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Plug this message"}
                  %i.fa.fa-plug
                  Plug it
                %button.btn.btn-white.btn-xs{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-eye
                %button.btn.btn-white.btn-xs{"data-original-title" => "Mark as important", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-exclamation
                %button.btn.btn-white.btn-xs{"data-original-title" => "Move to trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-trash-o
            .small.text-muted
              %i.fa.fa-clock-o
              Tuesday, 15 May 2014, 10:32 am
            %h1
              To take a trivial example
            %p
              But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.
            %p
              The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              he wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce.
            %p.small
              %strong Best regards, Anthony Smith
            .m-t-lg
              %p
                %span
                  %i.fa.fa-paperclip
                  2 attachments -
                %a{:href => "#"} Download all
                |
                %a{:href => "#"} View all images
              .attachment
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-file
                      .file-name
                        Document_2014.doc
                        %br/
                        %small Added: Jan 11, 2014
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-line-chart
                      .file-name
                        Seels_2015.xls
                        %br/
                        %small Added: May 13, 2015
                .clearfix
          #tab-4.tab-pane
            .pull-right
              .tooltip-demo
                %button.btn.btn-white.btn-xs{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Plug this message"}
                  %i.fa.fa-plug
                  Plug it
                %button.btn.btn-white.btn-xs{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-eye
                %button.btn.btn-white.btn-xs{"data-original-title" => "Mark as important", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-exclamation
                %button.btn.btn-white.btn-xs{"data-original-title" => "Move to trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
                  %i.fa.fa-trash-o
            .small.text-muted
              %i.fa.fa-clock-o
              Thursday, 27 april 2014, 10:32 am
            %h1
              Gregor Samsa woke from troubled dreams.
            %p
              His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p
              Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them.
            %p
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
            %p
              To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
            %p.small
              %strong Best regards, Anthony Smith
            .m-t-lg
              %p
                %span
                  %i.fa.fa-paperclip
                  2 attachments -
                %a{:href => "#"} Download all
                |
                %a{:href => "#"} View all images
              .attachment
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-file
                      .file-name
                        Document_2014.doc
                        %br/
                        %small Added: Jan 11, 2014
                .file-box
                  .file
                    %a{:href => "#"}
                      %span.corner
                      .icon
                        %i.fa.fa-line-chart
                      .file-name
                        Seels_2015.xls
                        %br/
                        %small Added: May 13, 2015
                .clearfix
