.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Pin Board
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        App Views
      %li.active
        %strong Pin Board
.wrapper.wrapper-content.animated.fadeInUp
  %ul.notes
    %li
      %div
        %small 12:03:28 12-04-2014
        %h4 Long established fact
        %p The years, sometimes by accident, sometimes on purpose (injected humour and the like).
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 11:08:33 16-04-2014
        %h4 Latin professor at Hampden-Sydney
        %p The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 9:12:28 10-04-2014
        %h4 The standard chunk of Lorem
        %p Ipsum used since the 1500s is reproduced below for those interested.
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 3:33:12 6-03-2014
        %h4 The generated Lorem Ipsum
        %p The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 5:20:11 4-04-2014
        %h4 Contrary to popular belief
        %p Hampden-Sydney College in Virginia, looked up one.
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 2:10:12 4-05-2014
        %h4 There are many variations
        %p All the Lorem Ipsum generators on the Internet .
        %a{:href => "#"}
          %i.fa.fa-trash-o
    %li
      %div
        %small 10:15:26 6-04-2014
        %h4 Ipsum used standard chunk of Lorem
        %p Standard chunk  is reproduced below for those.
        %a{:href => "#"}
          %i.fa.fa-trash-o
