.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Vote list
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        %a App views
      %li.active
        %strong Vote list
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 32
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          It is a long established fact that a reader will be distracted
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (32)
          %i.fa.fa-clock-o
          %a{:href => "#"} 1 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Andrew Williams
      .col-md-2
        .vote-icon
          %i.fa.fa-css3
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 15
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Many desktop publishing packages and web page
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (11)
          %i.fa.fa-clock-o
          %a{:href => "#"} 4 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Monica Smith
      .col-md-2
        .vote-icon
          %i.fa.fa-github
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 8
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          There are many variations of passages of Lorem Ipsum available, but the majority have
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (7)
          %i.fa.fa-clock-o
          %a{:href => "#"} 6 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Mike Nort
      .col-md-2
        .vote-icon
          %i.fa.fa-git
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 23
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Contrary to popular belief, Lorem Ipsum is not simply random text
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (18)
          %i.fa.fa-clock-o
          %a{:href => "#"} 8 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Anna West
      .col-md-2
        .vote-icon
          %i.fa.fa-digg
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 34
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          The generated Lorem Ipsum is therefore
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (21)
          %i.fa.fa-clock-o
          %a{:href => "#"} 11 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Johnathan Morgan
      .col-md-2
        .vote-icon
          %i.fa.fa-tumblr
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 5
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (2)
          %i.fa.fa-clock-o
          %a{:href => "#"} 14 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Alice Williams
      .col-md-2
        .vote-icon
          %i.fa.fa-flickr
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 15
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Many desktop publishing packages and web page
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (11)
          %i.fa.fa-clock-o
          %a{:href => "#"} 4 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Monica Smith
      .col-md-2
        .vote-icon
          %i.fa.fa-github
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 8
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          There are many variations of passages of Lorem Ipsum available, but the majority have
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (7)
          %i.fa.fa-clock-o
          %a{:href => "#"} 6 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Mike Nort
      .col-md-2
        .vote-icon
          %i.fa.fa-git
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 23
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Contrary to popular belief, Lorem Ipsum is not simply random text
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (18)
          %i.fa.fa-clock-o
          %a{:href => "#"} 8 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Anna West
      .col-md-2
        .vote-icon
          %i.fa.fa-digg
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 34
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          The generated Lorem Ipsum is therefore
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (21)
          %i.fa.fa-clock-o
          %a{:href => "#"} 11 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Johnathan Morgan
      .col-md-2
        .vote-icon
          %i.fa.fa-tumblr
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 32
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          It is a long established fact that a reader will be distracted
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (32)
          %i.fa.fa-clock-o
          %a{:href => "#"} 1 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Andrew Williams
      .col-md-2
        .vote-icon
          %i.fa.fa-css3
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 15
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Many desktop publishing packages and web page
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (11)
          %i.fa.fa-clock-o
          %a{:href => "#"} 4 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Monica Smith
      .col-md-2
        .vote-icon
          %i.fa.fa-github
  .vote-item
    .row
      .col-md-10
        .vote-actions
          %a{:href => "#"}
            %i.fa.fa-chevron-up
          %div 23
          %a{:href => "#"}
            %i.fa.fa-chevron-down
        %a.vote-title{:href => "#"}
          Contrary to popular belief, Lorem Ipsum is not simply random text
        .vote-info
          %i.fa.fa-comments-o
          %a{:href => "#"} Comments (18)
          %i.fa.fa-clock-o
          %a{:href => "#"} 8 Hours ago
          %i.fa.fa-user
          %a{:href => "#"} Anna West
      .col-md-2
        .vote-icon
          %i.fa.fa-digg
