.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Spinners
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a Miscellaneous
      %li.active
        %strong Spinners
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Simple loading spinners animated with CSS
        .ibox-content
          %p
            SpinKit uses CSS animations to create smooth and easily customizable animations. You have to note that spinners use CSS3 animation.
          %p
            Grab the HTML and CSS for a spinner and include it in your project. Note that a hidden spinner (
            %code> opacity: 0
            , or
            = succeed ")" do
              %code visibility: hidden
            %code display: none
            or pause the animation by setting
            = succeed "." do
              %code animation-play-state: paused
  .row
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Rotating plane
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-rotating-plane
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Double bounce
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-double-bounce
              .sk-double-bounce1
              .sk-double-bounce2
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Wave
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-wave
              .sk-rect1
              .sk-rect2
              .sk-rect3
              .sk-rect4
              .sk-rect5
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Wandering cubes
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-wandering-cubes
              .sk-cube1
              .sk-cube2
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Pulse
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-pulse
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Chasing dots
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-chasing-dots
              .sk-dot1
              .sk-dot2
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Three bounce
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-three-bounce
              .sk-bounce1
              .sk-bounce2
              .sk-bounce3
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Circle
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-circle
              .sk-circle1.sk-circle
              .sk-circle2.sk-circle
              .sk-circle3.sk-circle
              .sk-circle4.sk-circle
              .sk-circle5.sk-circle
              .sk-circle6.sk-circle
              .sk-circle7.sk-circle
              .sk-circle8.sk-circle
              .sk-circle9.sk-circle
              .sk-circle10.sk-circle
              .sk-circle11.sk-circle
              .sk-circle12.sk-circle
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Cube grid
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-cube-grid
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
              .sk-cube
    .col-lg-4
      .ibox
        .ibox-title
          %h5 Fading circle
        .ibox-content
          .spiner-example
            .sk-spinner.sk-spinner-fading-circle
              .sk-circle1.sk-circle
              .sk-circle2.sk-circle
              .sk-circle3.sk-circle
              .sk-circle4.sk-circle
              .sk-circle5.sk-circle
              .sk-circle6.sk-circle
              .sk-circle7.sk-circle
              .sk-circle8.sk-circle
              .sk-circle9.sk-circle
              .sk-circle10.sk-circle
              .sk-circle11.sk-circle
              .sk-circle12.sk-circle
