.wrapper.wrapper-content.p-xl
  .ibox-content.p-xl
    .row
      .col-sm-6
        %h5 From:
        %address
          %strong Inspinia, Inc.
          %br
            106 Jorg Avenu, 600/10
            %br
              Chicago, VT 32456
              %br
                %abbr{:title => "Phone"} P:
                (123) 601-4590
            .col-sm-6.text-right
              %h4 Invoice No.
              %h4.text-navy INV-000567F7-00
              %span To:
              %address
                %strong Corporate, Inc.
                %br
                  112 Street Avenu, 1080
                  %br
                    Miami, CT 445611
                    %br
                      %abbr{:title => "Phone"} P:
                      (120) 9000-4321
                    %p
                      %span
                        %strong Invoice Date:
                        Marh 18, 2014
                      %br/
                      %span
                        %strong Due Date:
                        March 24, 2014
                .table-responsive.m-t
                  %table.table.invoice-table
                    %thead
                      %tr
                        %th Item List
                        %th Quantity
                        %th Unit Price
                        %th Tax
                        %th Total Price
                    %tbody
                      %tr
                        %td
                          %div
                            %strong Admin Theme with psd project layouts
                          %small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        %td 1
                        %td $26.00
                        %td $5.98
                        %td $31,98
                      %tr
                        %td
                          %div
                            %strong Wodpress Them customization
                          %small
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        %td 2
                        %td $80.00
                        %td $36.80
                        %td $196.80
                      %tr
                        %td
                          %div
                            %strong Angular JS  Node JS Application
                          %small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        %td 3
                        %td $420.00
                        %td $193.20
                        %td $1033.20
                / /table-responsive
                %table.table.invoice-total
                  %tbody
                    %tr
                      %td
                        %strong Sub Total :
                      %td $1026.00
                    %tr
                      %td
                        %strong TAX :
                      %td $235.98
                    %tr
                      %td
                        %strong TOTAL :
                      %td $1261.98
                .well.m-t
                  %strong Comments
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
            - content_for :javascript do
              :javascript
                window.print();
