.lock-word.animated.fadeInDown
  %span.first-word LOCKED
  %span SCREEN
.middle-box.text-center.lockscreen.animated.fadeInDown
  %div
    .m-b-md
      %img.img-circle.circle-border{:alt => "image", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"}/
    %h3 John Smith
    %p Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.
    %form.m-t{:action => "#", :role => "form"}
      .form-group
        %input.form-control{:placeholder => "******", :required => "", :type => "password"}/
      %button.btn.btn-primary.block.full-width{:type => "submit"} Unlock
