.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %h2.font-bold Welcome to IN+
      %p
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      %p
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      %p
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      %p
        %small It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    .col-md-6
      .ibox-content
        %form.m-t{:action => "#", :role => "form"}
          .form-group
            %input.form-control{:placeholder => "Username", :required => "", :type => "email"}/
          .form-group
            %input.form-control{:placeholder => "Password", :required => "", :type => "password"}/
          %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Login
          %a{:href => "#"}
            %small Forgot password?
          %p.text-muted.text-center
            %small Do not have an account?
          %a.btn.btn-sm.btn-white.btn-block{:href => "register.html"} Create an account
        %p.m-t
          %small Inspinia we app framework base on Bootstrap 3 © 2014
  %hr/
  .row
    .col-md-6
      Copyright Example Company
    .col-md-6.text-right
      %small © 2014-2015
