.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 Welcome to IN+
    %p
      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    %p Login in. To see it in action.
    %form.m-t{:action => "#", :role => "form"}
      .form-group
        %input.form-control{:placeholder => "Username", :required => "", :type => "email"}/
      .form-group
        %input.form-control{:placeholder => "Password", :required => "", :type => "password"}/
      %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Login
      %a{:href => "#"}
        %small Forgot password?
      %p.text-muted.text-center
        %small Do not have an account?
      %a.btn.btn-sm.btn-white.btn-block{:href => "#{url_for :controller => 'pages', :action => 'register'}"} Create an account
    %p.m-t
      %small Inspinia we app framework base on Bootstrap 3 © 2015
