.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Search Page
    %ol.breadcrumb
      %li
        %a{:href => ""}
        = url_for :controller = 'dashboards', :action = 'dashboard_1'
        "&gt;Home
    %li
      Extra Pages
    %li.active
      %strong Search Page
