.wrapper.wrapper-content.animated.fadeIn
  .p-w-md.m-t-sm
    .row
      .col-sm-4
        %h1.m-b-xs
          26,900
        %small
          Sales in current month
        #sparkline1.m-b-sm
        .row
          .col-xs-4
            %small.stats-label Pages / Visit
            %h4 236 321.80
          .col-xs-4
            %small.stats-label % New Visits
            %h4 46.11%
          .col-xs-4
            %small.stats-label Last week
            %h4 432.021
      .col-sm-4
        %h1.m-b-xs
          98,100
        %small
          Sales in last 24h
        #sparkline2.m-b-sm
        .row
          .col-xs-4
            %small.stats-label Pages / Visit
            %h4 166 781.80
          .col-xs-4
            %small.stats-label % New Visits
            %h4 22.45%
          .col-xs-4
            %small.stats-label Last week
            %h4 862.044
      .col-sm-4
        .row.m-t-xs
          .col-xs-6
            %h5.m-b-xs Income last month
            %h1.no-margins 160,000
            .font-bold.text-navy
              98%
              %i.fa.fa-bolt
          .col-xs-6
            %h5.m-b-xs Sals current year
            %h1.no-margins 42,120
            .font-bold.text-navy
              98%
              %i.fa.fa-bolt
        %table.table.small.m-t-sm
          %tbody
            %tr
              %td
                %strong 142
                Projects
              %td
                %strong 22
                Messages
            %tr
              %td
                %strong 61
                Comments
              %td
                %strong 54
                Articles
            %tr
              %td
                %strong 154
                Companies
              %td
                %strong 32
                Clients
    .row
      .col-lg-12
        .small.pull-left.col-md-3.m-l-lg.m-t-md
          %strong Sales char
          have evolved over the years sometimes.
        .small.pull-right.col-md-3.m-t-md.text-right
          %strong There are many
          variations of passages of Lorem Ipsum available, but the majority have suffered.
        .flot-chart.m-b-xl
          #flot-dashboard5-chart.flot-chart-content
    .row
      .col-lg-12
        .ibox
          .ibox-content
            .row
              .col-sm-4
                .form-group
                  %label.control-label{:for => "product_name"} Project Name
                  %input#product_name.form-control{:name => "product_name", :placeholder => "Project Name", :type => "text", :value => ""}/
              .col-sm-2
                .form-group
                  %label.control-label{:for => "price"} Name
                  %input#price.form-control{:name => "price", :placeholder => "Name", :type => "text", :value => ""}/
              .col-sm-2
                .form-group
                  %label.control-label{:for => "quantity"} Company
                  %input#quantity.form-control{:name => "quantity", :placeholder => "Company", :type => "text", :value => ""}/
              .col-sm-4
                .form-group
                  %label.control-label{:for => "status"} Status
                  %select#status.form-control{:name => "status"}
                    %option{:selected => "selected", :value => "1"} Completed
                    %option{:value => "0"} Pending
            .table-responsive
              %table.table.table-striped
                %tbody
                  %tr
                    %td 1
                    %td Master project
                    %td Patrick Smith
                    %td $892,074
                    %td Inceptos Hymenaeos Ltd
                    %td
                      %strong 20%
                    %td Jul 14, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 2
                    %td Alpha project
                    %td Alice Jackson
                    %td $963,486
                    %td Nec Euismod In Company
                    %td
                      %strong 40%
                    %td Jul 16, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 3
                    %td Betha project
                    %td John Smith
                    %td $996,824
                    %td Erat Volutpat
                    %td
                      %strong 75%
                    %td Jul 18, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 4
                    %td Gamma project
                    %td Anna Jordan
                    %td $105,192
                    %td Tellus Ltd
                    %td
                      %strong 18%
                    %td Jul 22, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 2
                    %td Alpha project
                    %td Alice Jackson
                    %td $674,803
                    %td Nec Euismod In Company
                    %td
                      %strong 40%
                    %td Jul 16, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 1
                    %td Master project
                    %td Patrick Smith
                    %td $174,729
                    %td Inceptos Hymenaeos Ltd
                    %td
                      %strong 20%
                    %td Jul 14, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 4
                    %td Gamma project
                    %td Anna Jordan
                    %td $823,198
                    %td Tellus Ltd
                    %td
                      %strong 18%
                    %td Jul 22, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 1
                    %td
                      Project
                      %small This is example of project
                    %td Patrick Smith
                    %td $778,696
                    %td Inceptos Hymenaeos Ltd
                    %td
                      %strong 20%
                    %td Jul 14, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 2
                    %td Alpha project
                    %td Alice Jackson
                    %td $861,063
                    %td Nec Euismod In Company
                    %td
                      %strong 40%
                    %td Jul 16, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 3
                    %td Betha project
                    %td John Smith
                    %td $109,125
                    %td Erat Volutpat
                    %td
                      %strong 75%
                    %td Jul 18, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 4
                    %td Gamma project
                    %td Anna Jordan
                    %td $600,978
                    %td Tellus Ltd
                    %td
                      %strong 18%
                    %td Jul 22, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 2
                    %td Alpha project
                    %td Alice Jackson
                    %td $150,161
                    %td Nec Euismod In Company
                    %td
                      %strong 40%
                    %td Jul 16, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 1
                    %td
                      Project
                      %small This is example of project
                    %td Patrick Smith
                    %td $160,586
                    %td Inceptos Hymenaeos Ltd
                    %td
                      %strong 20%
                    %td Jul 14, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
                  %tr
                    %td 4
                    %td Gamma project
                    %td Anna Jordan
                    %td $110,612
                    %td Tellus Ltd
                    %td
                      %strong 18%
                    %td Jul 22, 2015
                    %td
                      %a{:href => "#"}
                        %i.fa.fa-check.text-navy
- content_for :javascript do
  :javascript
    $(function() {
    
        var sparklineCharts = function(){
            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1ab394',
                fillColor: "transparent"
            });
    
            $("#sparkline2").sparkline([32, 11, 25, 37, 41, 32, 34, 42], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1ab394',
                fillColor: "transparent"
            });
    
            $("#sparkline3").sparkline([34, 22, 24, 41, 10, 18, 16,8], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1C84C6',
                fillColor: "transparent"
            });
        };
    
        var sparkResize;
    
        $(window).resize(function(e) {
            clearTimeout(sparkResize);
            sparkResize = setTimeout(sparklineCharts, 500);
        });
    
        sparklineCharts();
    
    
    
    
        var data1 = [
            [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,20],[11,10],[12,13],[13,4],[14,7],[15,8],[16,12]
        ];
        var data2 = [
            [0,0],[1,2],[2,7],[3,4],[4,11],[5,4],[6,2],[7,5],[8,11],[9,5],[10,4],[11,1],[12,5],[13,2],[14,5],[15,2],[16,0]
        ];
        $("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
                    data1,  data2
                ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
    
                        borderWidth: 2,
                        color: 'transparent'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis:{
                    },
                    yaxis: {
                    },
                    tooltip: false
                }
        );
    
    });
